* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #C082FF;
}

#clickercontainer, #clickerupgrades, #autoupgrades {
  margin-left: 2%;
}

/*Clicker Container*/
#wrapper {
  text-align: center;
}

#clickercontainer {
  display: inline-block;
  width: 30%;
  height: 33vh;
  margin-top: 10%;
  border: 4px solid #07E877;
  border-radius: 20px;
  background-color: #268054;
}

#clicker {
  float: left;
  margin-top: 3%;
  width: 300px;
}

#score {
  float: right;
  text-align: center;
  font-size: 140%;
  margin-top: 3%;
  margin-right: 10%;
  width: 30%;
  height: 15%;
  border: 3px solid #07E877;
  border-radius: 100px;
  background-color: #268054;
  color: white;
}

/*Clicker Upgrades*/
#clickerupgrades {
  float: left;
  width: 30%;
  height: 66vh;
  margin-top: 3%;
  border: 4px solid #07E877;
  border-radius: 20px;
  background-color: #268054;
}

/*Auto Clicker Upgrades*/
#autoupgrades {
  float: right;
  width: 30%;
  height: 66vh;
  margin-top: 3%;
  margin-right: 2%;
  border: 4px solid #07E877;
  border-radius: 20px;
  background-color: #268054;
}
