* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

#clickercontainer, #clickerupgrades, #autoupgrades, #currentupgrades {
  margin-left: 2%;
}

#wrapper {
  text-align: center;
}

.headers {
  margin-top: 4%;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid #FF00E4;
  color: white;
  -webkit-box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
  -moz-box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
  box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
}

/*Clicker Container*/
#clickercontainer, #currentupgrades {
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 33vh;
  margin-top: 3%;
  border: 4px solid #FF00E4;
  border-radius: 20px;
  background-color: #880DFF;
}

#clicker {
  float: left;
  margin-top: 3%;
  margin-left: 2%;
  width: 50%;
  border-radius: 50%;
  animation: rotation 15s infinite linear;
}

.make-bigger{
  animation: make_bigger 0.1s 1;
}
@keyframes make_bigger {
  from { width: 30%; }
  to { width: 31%; }
} 

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#currentwaifus, #totalspent {
  margin-top: 10%;
  margin-right: 3%;
  margin-left: 290px;
  text-align: center;
  color: white;
}

#waifu{
  position: absolute;
  width: 30%;
}
#totalspent {
  margin-top: 15%;
}

#score, #spent {
  float: right;
  text-align: center;
  font-size: 140%;
  margin-right: 10%;
  width: 30%;
  height: 15%;
  border: 3px solid #FF00E4;
  border-radius: 100px;
  background-color: #880DFF;
  color: white;
}



/*Clicker Upgrades*/
#clickerupgrades {
  float: left;
  width: 30%;
  height: 72vh;
  margin-top: 3%;
  border: 4px solid #FF00E4;
  border-radius: 20px;
  background-color: #880DFF;
}

/*Auto Clicker Upgrades*/
#autoupgrades {
  float: right;
  width: 30%;
  height: 72vh;
  margin-top: 3%;
  margin-right: 2%;
  border: 4px solid #FF00E4 ;
  border-radius: 20px;
  background-color: #880DFF   ;
}


/*test*/

#exit{
  margin-top: 1%;
  margin-left: 2.5%;
  
}
#exit h1{
  color: #FF00E4;
  font-weight: 1px;
}
#exit h1:hover{
  cursor: pointer;
}