* {
  margin: 0;
  padding: 0;
}

#clickercontainer, #clickerupgrades, #autoupgrades, #currentupgrades {
  margin-left: 2%;
}
#wrapper {
  text-align: center;
  z-index: -1;
}

.headers {
  margin-top: 4%;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid #FF00E4;
  color: white;
  -webkit-box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
  -moz-box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
  box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
}

.headertext {
  margin-bottom: 2.5%;
}

.subheaderslong {
  margin-top: 1.5%;
  padding-bottom: 1%;
  float: left;
  height: 9vh;
  width: 100%;
  border-bottom: 4px solid #FF00E4;
  color: white;
  -webkit-box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
  -moz-box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
  box-shadow: 0px 6px 5px -3px rgba(0,69,33,1);
}

.upgradelong {
  width: 15%;
  float: left;
  margin-left: 3.5%;
  margin-bottom: 1%;
  border-radius: 50%;
  border: 3px solid #FF00E4;
}

.upgradetextlong {
  float: left;
  margin-left: 3%;
}

.upgradeinfolong {
  position: absolute;
  margin-left: 19%;
}

.upgradepricelong {
  position: absolute;
  margin-top: 3%;
  margin-left: 6.5%;
}

.upgradeinfotextlong {
  position: absolute;
  float: left;
  margin-top: 3.1%;
  margin-left: 19%;
}

.subheaders {
  margin-top: 1.5%;
  margin-left: 3.5%;
  float: left;
  height: 9vh;
  width: 15%;
  color: white;
}

.upgrade {
  width: 100%;
  float: left;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 50%;
  border: 3px solid #FF00E4;
}

.upgrade:hover+.hoverinfo {
  display: block;
  z-index: 0;
}

.hoverinfo {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  margin-left: 2.5%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: none;
  width: 9%;
  height: 8.7vh;
  background: #920C74;
  background:
    radial-gradient(circle 20px at -1.2% 47%,transparent,transparent 50px,#920C74 50px),
    radial-gradient(circle 20px at 120% 50%,transparent,transparent 0px,#920C74 0px);
  background-size:200px 100px, 0px 0px;
  background-position:0 0,50% 0;
  background-repeat:no-repeat;
  border: 2px solid black;
}

.hoverinfo:hover {
  display: block;
  z-index: 1;
}

.upgradetext {
  margin-left: 27%;
}

.upgradeinfo {
  margin-top: 4%;
  margin-left: 32.5%;
}

.upgradeprice {
  margin-top: 5%;
  margin-left: 33%;
}

.upgradeinfotext {
  margin-left: 29%;
}

/*Clicker Container*/
#clickercontainer, #currentupgrades {
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 33vh;
  margin-top: 3%;
  border: 4px solid #FF00E4;
  border-radius: 20px;
  background-color: #880DFF;
  opacity: 0.9;
}

#waifu{
  position: absolute;
  margin-left: 1%;
  margin-top: 2%;
  width: 15%;
  border-radius: 50%;
}

#clicker {
  float: left;
  width: 100%;
  border-radius: 50%;
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.make-bigger{
  animation: make_bigger 0.1s 1;
}

@keyframes make_bigger {
  from { width: 15%; }
  to { width: 16%; }
}

#currentwaifus, #totalspent, #totalclicks {
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 290px;
  text-align: center;
  color: white;
}

#totalspent, #totalclicks {
  margin-top: 15%;
}

#score, #spent, #clicks {
  float: right;
  text-align: center;
  font-size: 140%;
  margin-right: 10%;
  width: 30%;
  height: 15%;
  border: 3px solid #FF00E4;
  border-radius: 100px;
  background-color: #880DFF;
  color: white;
}



/*Clicker Upgrades*/
#clickerupgrades {
  float: left;
  width: 30%;
  height: 72vh;
  margin-top: 3%;
  border: 4px solid #FF00E4;
  border-radius: 20px;
  background-color: #880DFF;
  opacity: 0.9;
}

#hide {
  /*display: none;*/
}

/*Auto Clicker Upgrades*/
#autoupgrades {
  float: right;
  width: 30%;
  height: 72vh;
  margin-top: 3%;
  margin-right: 2%;
  border: 4px solid #FF00E4 ;
  border-radius: 20px;
  background-color: #880DFF;
  opacity: 0.9;
}

/*menu buttons*/
#exit{
  float: left;
  position: absolute;
  margin-top: 1%;
  margin-left: 2.5%;

}
#exit h1{
  color: #FF00E4;
  font-weight: 1px;
}
#exit h1:hover{
  cursor: pointer;
  color: red;
}

/*test*/
